<div class="row">
  <div class="col-md-6">
    <h3>May 25, 2023</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine for easier data wrangling</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td>OpenRefine continued</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>June 1, 2023</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/">Introduction to Working with Data (Regular Expressions)</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td>Regular expressions continued</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>  
<div class="row">
  <div class="col-md-6">
    <h3>June 8, 2023</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://librarycarpentry.org/lc-spreadsheets/">Tidy Data</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td>Tidy Data continued</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>June 15, 2023</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://librarycarpentry.org/lc-sql/">Relational databases with SQL</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td>SQL continued</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
